body {
	font-family: 'Open Sans' !important;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  font-family: 'Open Sans' !important;
 }

.o-uporabniku {
	padding: 10px 0 20px;
	float: left;
	width: 100%;
	.col-lg-1 {
		padding-left: 0;
	}
	.ime {
		h2 {
			margin: 0;
		}
	}
}

.main {
	margin-top: 60px;
}

.dodaj {
	background-color: rgba(0, 0, 0, 0.06);
	padding: 20px 20px;
	float: left;
	width: 100%;
	margin-bottom: 25px;
	-webkit-transition: background-color 100ms ease-in-out;
	-moz-transition: background-color 100ms ease-in-out;
	-ms-transition: background-color 100ms ease-in-out;
	-o-transition: background-color 100ms ease-in-out;
	transition: background-color 100ms ease-in-out;
	cursor: pointer;
	&:hover {
		background-color: rgba(0, 0, 0, 0.09);
	}
	h3 {
		margin: 0 0 5px;
		text-transform: capitalize;
	}
	.dosedanje {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			float: left;
		}
	}
}

.table {
	th {
		background-color: #f7f7f7 !important;
	}
	.predmet {
		text-transform: uppercase !important;
		font-weight: bold;
	}
}


.uspesno-dodana {
	position: absolute;
	z-index: 99999;
	top: 9.5%;
	right: 3%;
}

ul.uporabniki {
	padding: 0;
	li {
		width: 100%;
		float: left;
		list-style: none;
		margin-bottom: 10px;
		font-weight: bold;
	}
}